@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(#0d0d0e,
  rgb(10, 2, 2))
}

main {
  margin: 0 10vw 0 10vw;
  padding: 0 4vw 0 4vw
}

.navbar-menu div {
  height: 4px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
  transition: 0.3s;
}

.navbar-menu {
  display: block;
}

.one {
  width: 30px;
}

.two {
  width: 20px;
}

.three {
  width: 25px;
}

.navbar-menu:hover div {
  width: 30px;
}

#testimonial-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
}

.testimonial-1 {
  padding: 40px;
  background-color: #95A9E7;
  text-align: center;
}

.testimonial-2 {
  padding: 40px;
  background-color: #95A9E7;
  text-align: center;

}

.testimonial-3 {
  padding: 40px;
  background-color: #95A9E7;
  text-align: center;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 30px;
  background-color: rgb(148, 148, 153);
  min-width: 260px;
  z-index: 1;
}

.dropdown-item {
  padding: 12px;
  color: #02081a;
  text-align: center;
  border: 1px solid black;
}

.dropdown-item:hover {
  background-color: #95A9E7;
}

#cars-list {
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}